version: 2.1

parameters:
  ssh-fingerprint:
    type: string
    default: ${GITHUB_SSH_FINGERPRINT}

aliases:
  # Workflow filters
  - &filter-only-master
    branches:
      only: master
  - &filter-only-release
    branches:
      only: /^v[1-9]*[0-9]+\.[1-9]*[0-9]+\.x$/

workflows:
  plugin_workflow:
    jobs:
      - build
      - build_backend_linux
      - build_backend_windows
      - build_backend_osx
      - package:
          requires:
            - build
            - build_backend_linux
            - build_backend_windows
            - build_backend_osx
      - report:
          requires:
            - package
      - approve_release:
          type: approval
          requires:
            - report
          filters: *filter-only-release
      - publish_github_release:
          requires:
            - approve_release
          filters: *filter-only-release

executors:
  default_exec: # declares a reusable executor
    docker:
      - image: srclosson/grafana-plugin-ci-alpine:latest
  e2e_exec:
    docker:
      - image: srclosson/grafana-plugin-ci-e2e:latest
  dotnet_exec:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1

jobs:
  build:
    executor: default_exec
    steps:
      - checkout
      - restore_cache:
          name: restore node_modules
          keys:
          - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: |
            mkdir ci
            [ -f ~/project/node_modules/.bin/grafana-toolkit ] || yarn install --frozen-lockfile
      - save_cache:
          name: save node_modules
          paths:
            - ~/project/node_modules
          key: build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - save_cache:
          name: save cypress cache
          paths:
            - ~/.cache/Cypress
          key: cypress-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Build and test frontend
          command: ./node_modules/.bin/grafana-toolkit plugin:ci-build

  build_backend_linux:
    executor: dotnet_exec
    steps:
      - checkout
      - run:
          name: Build backend (Linux)
          command: |
            [ ! -d "ci/dist/linux" ] && mkdir -pv ci/dist/linux
            dotnet publish ./pkg/dotnet/plugin-dotnet/.linux.build.csproj -r linux-x64 -o ci/dist/linux --self-contained true
      - persist_to_workspace:
          root: .
          paths:
          - ci/dist/linux
      - store_artifacts:
          path: ci
    
  build_backend_osx:
    executor: dotnet_exec
    steps:
      - checkout
      - run:
          name: Build backend (OSX)
          command: |
            [ ! -d "ci/dist/osx" ] && mkdir -pv ci/dist/osx
            dotnet publish ./pkg/dotnet/plugin-dotnet/.osx.build.csproj -r osx-x64 -o ci/dist/osx --self-contained true
      - persist_to_workspace:
          root: .
          paths:
          - ci/dist/linux
      - store_artifacts:
          path: ci

  build_backend_windows:
    executor: dotnet_exec
    steps:
      - checkout
      - run:
          name: Build backend (Windows)
          command: |
            [ ! -d "ci/dist/win" ] && mkdir -pv ci/dist/win
            dotnet publish ./pkg/dotnet/plugin-dotnet/.win.build.csproj -r win-x64 -o ci/dist/win --self-contained true
      - persist_to_workspace:
          root: .
          paths:
          - ci/dist/linux
      - store_artifacts:
          path: ci
  
  package:
    executor: default_exec
    steps:
      - checkout
      - restore_cache:
          name: restore node_modules
          keys:
          - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Move results to ci folder
          command: ./node_modules/.bin/grafana-toolkit plugin:ci-build --finish
      - run:
          name: Package distribution
          command: |
            ./node_modules/.bin/grafana-toolkit plugin:ci-package

  report:
    executor: default_exec
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          name: restore node_modules
          keys:
            - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: Toolkit report
          command: |
            ./node_modules/.bin/grafana-toolkit plugin:ci-report
      - store_artifacts:
          path: ci

  publish_github_release:
    executor: default_exec
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          name: restore node_modules
          keys:
          - build-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}
      - run:
          name: "Publish Release on GitHub"
          command: |
            ## I'm really hacky, but don't remove me right now. 
            [ -n "${TEMP_TOOLKIT_HACK}" ] && cp /usr/local/bin/githubRelease.js node_modules/@grafana/toolkit/src/cli/utils/githubRelease.js
            ./node_modules/.bin/grafana-toolkit plugin:github-publish

